<div class="search">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="form-element">
            <input 
            id="search" 
            name="search" 
            type="text" 
            [formControlName]="'search'" 
            required
            placeholder="Search"
            >
        </div>
        <div class="form-element" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
            <button 
            type="submit" 
            [disabled]="!searchForm.valid"
            class="form-element"
            >
                <img *ngIf="!(hovered && searchForm.valid)" src = "assets/search.svg" alt="Search" width="30"/>
                <img *ngIf="hovered && searchForm.valid" src = "assets/search-hover.svg" alt="Search" width="30"/>
            </button>
        </div>
    </form>
</div>