<div class="header">
    <div class="header-item">
        <a routerLink="/">Home</a>
    </div>
    <div class="header-item">
        <a routerLink="/random">Random movie</a>
    </div>
    <div *ngIf="!isLoggedIn" class="header-item">
        <a routerLink="/login">Login</a>
    </div>
    <div *ngIf="!isLoggedIn" class="header-item">
        <a routerLink="/sign-up">Sign Up</a>
    </div>
    <div *ngIf="isLoggedIn" class="header-item">
        <a routerLink="/profile">Profile</a>
    </div>
    <div *ngIf="isLoggedIn" class="header-item">
        <a (click)="logout()" routerLink="">Logout</a>
    </div>
    <div *ngIf="isLoggedIn">
        <app-search></app-search>
    </div>
</div>
