* {
    display: flex;
    background-color: #58110E;
    text-decoration: none;
    color: lightgray;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.footer img {
    max-width: 50px;
}
