.login {
    display: flex;
    flex-direction: row;
}

.login-form {
    color: #DAD2D8;
    display: flex;
    flex-direction: colum;
    align-items: flex-start;
    margin-left: 5rem;
    margin-top: 15rem;
}

.login-form form {
    width: 40%;
}

.form-item {
    margin: 0.8rem;
}

.main-banner {
    margin-top: 5rem;
    padding-left: 10rem;
}

.main-banner img {
    max-width: 80%;
}
