.sign-up {
    display: flex;
    flex-direction: row;
}

.sign-up-form {
    color: #DAD2D8;
    display: grid;
    grid-template-columns: auto ;
    margin-top: 15rem;
    margin-left: 5rem;
}

.form-item {
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
  }

.form-item {
    margin: 1rem;
}

.main-banner {
    margin-top: 5rem;
    padding-left: 10rem;
}

.main-banner img {
    max-width: 80%;
}
