<div class="sign-up">
    <div class="sign-up-form">
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <div class="form-item">
                <label for="email" class="form-item">Email</label>
            </div>
            <div class="form-item">
                <input 
                    type="text" 
                    id="email" 
                    name="email" 
                    autofocus 
                    [formControlName]="'email'" 
                    class="form-item" 
                    required>
            </div>
            <div class="form-item">
                <label for="username" class="form-item">Username</label>
            </div>
            <div class="form-item">
                <input 
                    type="text" 
                    id="username" 
                    name="username" 
                    autofocus 
                    [formControlName]="'username'" 
                    class="form-item" 
                    required>
            </div>
            <div class="form-item">
                <label for="password" class="form-item">Password</label>
            </div>
            <div class="form-item">
                <input 
                    type="password" 
                    id="password" 
                    name="password" 
                    autofocus [formControlName]="'password'" 
                    class="form-item"
                    required
                    >
            </div>
            <div class="form-item">
                <button type="submit" class="form-item" [disabled]="!signupForm.valid">Create new account</button>
            </div>
        </form>
    </div>
    <div class="main-banner">
        <img src = "assets/main-banner.svg" alt="main banner"/>
    </div>
</div>