<div *ngIf="listFull === false" class="info">
    <h3>You haven't added any movie to watchlist yet</h3>
    <p><a routerLink="">Discover</a> movies and add them to your list</p>
</div>
<div *ngIf="dataReady" class="watchlist">
    <div *ngFor="let w of watchlistMovies | paginate: { itemsPerPage: 10, currentPage: p }">
        <app-movie [movie]="w"></app-movie>
    </div>
</div>
<div *ngIf="listFull" class="pagination">
    <pagination-controls (pageChange)="p = $event" class="custom-pagination"></pagination-controls>
</div>
