<div *ngIf="dataReady">
    <div class="movie-details">
        <div class="banner-container">
            <div class="banner">
                <img src="{{ backdrop_path_base_url + randomMovie.backdrop_path }}" alt="{{ randomMovie.title }}">
            </div>
        </div>
        <div class="title">
            <h2>{{ randomMovie.title }}</h2>
        </div>
        <div class="original-title">
            <h3>{{ randomMovie.original_title }}</h3>
        </div>
        <div class="description">
            <p>{{ randomMovie.overview }}</p></div>
        <div class="genres" *ngFor="let g of randomMovie.genres">
            {{ g.name }}
        </div>
        <div class="cast"></div>
        <div class="crew"></div>
        <div class="user-controls" *ngIf="loggedIn">
            <div class="fav">
                Mark as favorite
            </div>
            <div class="watched">
                Mark as Watched
            </div>
            <div class="watchlist">
                Add to watchlist
            </div>
        </div>
        <div (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" class="new-random">
            <img *ngIf="!dieHovered" src = "assets/die.svg" (click)="getRandomMovie()" alt="Generate" width="50"/>
            <img *ngIf="dieHovered" src = "assets/die-hover.svg" (click)="getRandomMovie()" alt="Generate" width="50"/>
        </div>
    </div>
</div>
