.movie-details {
    max-width: 80%;
    color: #DAD2D8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
}

.description {
    width: 35%;
}

.new-random {
    max-width: 20%;
}

.banner img {
    max-width: 60%;
    border: solid 2px #90cea1;
    border-radius: 5%;
}
