.movie-details {
    max-width: 80%;
    color: #DAD2D8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
}

.description {
    width: 35%;
}

.banner img {
    max-width: 60%;
    border-radius: 5%;
    border: solid 2px #90cea1;
}

.user-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-control-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-control {
    margin: 1rem;
}

.movie-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.movie-rating-element {
    margin: 0.5rem;
}
