<div *ngIf="dataReady">
    <div class="movie-details">
        <div class="banner-container">
            <div class="banner">
                <img src="{{ backdrop_path_base_url + movie.backdrop_path }}" alt="{{ movie.title }}">
            </div>
        </div>
        <div class="title">
            <h2>{{ movie.title }}</h2>
        </div>
        <div class="movie-data">
            <div class="movie-genres">
                <div class="genre">
                    <p *ngFor="let g of genres">{{ g.name }}</p>
                </div>
            </div>
            <div class="movie-desc">
                <div class="original-title">
                    <h3>{{ movie.original_title }}</h3>
                </div>
                <div class="description">
                    <p>{{ movie.overview }}</p>
                </div>
            </div>
        </div>
        <div class="user-controls" *ngIf="loggedIn">
            <div class="user-control-buttons">
                <div class="user-control" (click)="addMovieAsFavorite()">
                    <img *ngIf="isMovieFavorite" src = "assets/star.svg" alt="favorite" width="80"/>
                    <img *ngIf="!isMovieFavorite" src = "assets/star-active.svg" alt="favorite" width="80"/>
                </div>
                <div class="user-control" (click)="markMovieAsWatched()">
                    <img *ngIf="isMovieWatched" src = "assets/eye.svg" alt="watch" width="90"/>
                    <img *ngIf="!isMovieWatched" src = "assets/eye-active.svg" alt="watch" width="90"/>
                </div>
                <div class="user-control" (click)="addMovieToWatchlist()">
                    <img *ngIf="isMovieWatchlisted" src = "assets/bookmark.svg" alt="watchlist" width="50"/>
                    <img *ngIf="!isMovieWatchlisted" src = "assets/bookmark-active.svg" alt="watchlist" width="50"/>
                </div>
            </div>
            <div *ngIf="isMovieWatched" class="movie-rating">
                <p class="movie-rating-element">
                    SCORE THIS FILM
                </p> 
                <mat-slider 
                    (change)="updateScore($event)"
                    [(ngModel)]="movieScore" 
                    min="0" 
                    max="5" 
                    step="0.5"
                    class="movie-rating-element"
                    >
                </mat-slider>
                <p class="movie-rating-element">
                    {{ movieScore }}
                </p>
            </div>
        </div>
    </div>
</div>
