.profile {
    color: #DAD2D8;
    text-align: center;
    margin-top: 5rem;
}

.favorites {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
    width: 50%;
}