* {
    color: #DAD2D8;
}

.profile-welcome {
    text-align: center;
    margin-top: 5rem;
}

.profile-header {
    margin: auto;
    display: flex;
    justify-content: center;
}

.profile-header-item {
    margin-left: 2rem;
    margin-right: 2rem;
}

.profile-header-item p:hover {
    border-bottom: solid 2px #90cea1;
}

.active-header {
    border-bottom: solid 2px #313969;
}