* {
    color: #DAD2D8;
}
.popular-section {
    margin-top: 5rem;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: row;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.info p {
    margin-top: 6rem;
}

.main-banner {
    padding-left: 10rem;
}

.main-banner img {
    max-width: 90%;
}

.movie-list {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    width: 55%;
}