<div class="popular-section" *ngIf="loggedIn">
    <div *ngIf="dataReady">
        <div class="popular">
            <h2>Now popular films</h2>
        </div>
        <div class="movie-list">
            <div *ngFor="let m of movies | paginate: { itemsPerPage: 10, currentPage: p }">
                    <app-movie [movie]="m"></app-movie>
            </div>
        </div>
        <pagination-controls (pageChange)="p = $event" class="custom-pagination"></pagination-controls>
    </div>
    <div *ngIf="!dataReady">
        <p>Loading...</p>
    </div>
</div>
<div class="info" *ngIf="!loggedIn">
    <div class="main-info">
        <h1>Welcome to CineSpring application</h1>
        <p><a routerLink="/sign-up">Create account</a> and start recording your seen movies</p>
        <p>Not sure which movie to watch next? <a routerLink="/random">Find a random one</a></p>
    </div>
    <div class="main-banner">
        <img src = "assets/main-banner.svg" alt="main banner"/>
    </div>
</div>

