.watched {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 5rem;
    width: 50%;
}

.pagination {
    margin: auto;
    display: flex;
    justify-content: center;
}

.info {
    text-align: center;
}
